<footer>
    <h3>Nodejs First Project</h3>
    <div>
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
    </div>
    <hr>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt tempora ducimus voluptatum earum facilis, ex id repellendus tenetur atque possimus, velit laudantium illum? Praesentium ratione animi quis in possimus quidem!</p>
</footer>
<script src="/javascripts/script.js"></script>