<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <section class="container">
      <header><%- include('partials/navigation.ejs') %></header>
      <section class="index">
        <div>
          <h1>About</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto
            sunt doloremque est fugiat aut, consequatur labore molestias sequi
            incidunt facere commodi suscipit, tenetur in voluptates natus
            laudantium itaque ipsa distinctio.
          </p>
        </div>
      </section>
      <%- include('partials/footer.ejs') %>
    </section>
  </body>
</html>
