<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <%- include('partials/navigation.ejs') %>
    <main>
      <section class="display-7">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit sit ullam quaerat odit nostrum dolorem necessitatibus velit dolor, architecto dignissimos quos itaque culpa, nemo molestias laboriosam adipisci dicta. Ut sapiente iste est tempore reiciendis quibusdam nisi, veniam sunt molestiae necessitatibus libero voluptatem numquam cupiditate commodi, quaerat, inventore consequatur odit minima vel enim blanditiis? Corporis hic, ea sit nisi quod et unde, exercitationem vitae sequi aut recusandae? Ipsam impedit dolores, veritatis sint error itaque minima excepturi odit necessitatibus, laudantium illo vero at? Ipsam, nihil atque iste perspiciatis sint qui quisquam, veritatis natus accusantium nostrum, delectus tempora fuga. Voluptas molestias vero, minima quos recusandae illum obcaecati ratione quidem, inventore nisi laudantium dicta harum, itaque neque? Totam culpa aspernatur quod, atque nesciunt porro eius doloremque dolor vero! Doloribus vero pariatur numquam magni voluptatum cumque, officia, esse architecto error alias, facilis amet nemo incidunt. Officia in quasi quibusdam fugit, eius voluptate beatae, quos alias odit repellendus commodi? Optio voluptates cum reiciendis at vitae ut totam rem incidunt qui odio, veritatis est doloribus quas esse tempore, deserunt sed expedita necessitatibus, mollitia consequuntur a modi odit. A natus quaerat similique, atque maxime soluta assumenda aut, enim nulla tempora eaque unde commodi quibusdam autem nostrum ab nihil!</p>
        
      </section>
    </main>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
