<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <section class="container">
      <header><%- include('partials/navigation.ejs') %></header>
      <section class="contact">
        <div id="node-mail">
          <h3>Contact me</h3>
          <!-- node-mail -->
          <form action="/contact" method="POST">
            <div class="mb-3">
              <label for="email">Email</label>
              <input type="email" name="email" placeholder="Email" class="form-control">
            </div>
            <div class="mb-3">
              <label for="message">Message</label>
              <textarea type="text" name="message" rows="3" placeholder="Add message here..." class="form-control"></textarea>
            </div>
            <button class="btn btn-primary col-12">Send</button>
          </form>
        </div>
      </section>
      <%- include('partials/footer.ejs') %>
    </section>
  </body>
</html>
