* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container header {
  padding: 2rem;
}
.container header .navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.container header .navbar h1 a {
  color: black;
  text-decoration: none;
}
.container header .navbar .nav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
}
.container header .navbar .nav-menu li {
  list-style: none;
}
.container header .navbar .nav-menu li a {
  color: black;
  text-decoration: none;
}
.container header .navbar .nav-menu li a:hover {
  border-bottom: 1px solid black;
}
.container header .navbar .burga {
  display: none;
  cursor: pointer;
}
.container header .navbar .burga span {
  width: 2rem;
  background-color: black;
  height: 0.2rem;
  margin: 4px;
  border-radius: 20%;
}
.container .index {
  background: rgb(136, 191, 32);
  background: linear-gradient(0deg, rgb(136, 191, 32) 0%, rgb(255, 255, 255) 40%);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .index div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.container .index div h1 {
  font-size: 40px;
  padding: 1rem;
}
.container .index div p {
  padding: 1rem;
}
.container .index div button {
  background: #88bf20;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 30px;
  transition: 0.3s;
}
.container .index div button:hover {
  background: white;
  cursor: pointer;
}
.container .index div button:hover a {
  color: #88bf20;
}
.container .index div button a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 18px;
}
.container .contact {
  background: rgb(136, 191, 32);
  background: linear-gradient(0deg, rgb(136, 191, 32) 0%, rgb(255, 255, 255) 40%);
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.container .contact #node-mail {
  width: 100%;
  position: relative;
  right: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  padding: 4rem;
  height: 100%;
}
.container .contact #node-mail h3 {
  position: absolute;
  top: 15%;
  right: 25%;
  color: #88bf20;
  font-weight: 800;
  font-size: 40px;
}
.container .contact #node-mail form {
  background: #88bf20;
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.container .contact #node-mail form div {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.container .contact #node-mail form div label {
  color: white;
  font-weight: 600;
}
.container .contact #node-mail form div textarea, .container .contact #node-mail form div input {
  resize: none;
  width: 100%;
  border: none;
  border-radius: 15px;
  outline: none;
  padding: 0.5rem;
}
.container .contact #node-mail form button {
  padding: 0.3rem 0.5rem;
  margin: 1rem;
  border: none;
  border-radius: 15px;
  outline: none;
  color: #88bf20;
  transition: 0.3s;
  background: white;
}
.container .contact #node-mail form button:hover {
  cursor: pointer;
  background: #88bf20;
  color: white;
}
.container footer {
  background: #88bf20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.container footer h3 {
  font-size: 14px;
}
.container footer div {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5rem;
}
.container footer div a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}
.container footer hr {
  width: 95%;
  border: 1px solid black;
}
.container footer p {
  padding: 0.5rem;
  font-size: 10px;
}

@media (max-width: 700px) {
  .burga {
    display: flex !important;
    flex-direction: column;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    flex-direction: column !important;
    width: 100% !important;
    height: 100vh;
    transition: 0.3s;
  }
  .nav-menu .nav-item .nav-link {
    color: white !important;
  }
  .nav-menu.active {
    left: 0 !important;
    top: 0 !important;
    z-index: 1;
    background-color: black;
  }
  .index div {
    width: 90% !important;
  }
  .contact #node-mail form {
    width: 100% !important;
  }
}/*# sourceMappingURL=style.css.map */